.git
**/.git
.gitignore
**/.gitignore
.next
**/.next
apps/*/.next
.medusa
**/.medusa
apps/*/.medusa
.strapi
**/.strapi
apps/*/.strapi
node_modules
**/node_modules
apps/*/node_modules
packages/*/node_modules
dist
**/dist
apps/*/dist
packages/*/dist
.env
**/.env
.env.*
**/.env.*
!**/.env.example
*.log
**/*.log
.DS_Store
**/.DS_Store
coverage
**/coverage
.turbo
**/.turbo
.vscode
**/.vscode
.idea
**/.idea
*.tsbuildinfo
**/*.tsbuildinfo
