# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/
.nyc_output/

# Next.js build output
.next/
out/

# Medusa build output
.medusa/
uploads/

# Strapi build output
.strapi/
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Keep example env
!.env.example

# OS and Editor files
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Redis / DB dumps
*.rdb
*.sql
*.dump
