NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_sdnfkjshdkjfhksdjhfkj
S2S_AUTH_TOKEN=sess_fb78c0486c41e081c7b36ca93163d881d9f46bbdc89f4aacc3e93d4f5e0cd89e